
 <%- include("header"); -%> 
    <div class="box" id="heading">
      <% if(dayName === "sunday"){ %>
      <h1>Its's a <%= dayName %></h1>
      <% } else{ %>
      <h1>Its's a <%= dayName %></h1>
      <% } %>
    </div>
       <div class="box" id="heading">
  
      </div>
    <div class="box">
      <!-- <% for(let i = 0; i<listIt.length; i++) { %>
      <div class="item">
         <input type="checkbox" >
      <p><%= listIt[i].name %></p>
      </div>
      <% } %>
     -->

     <% listIt.forEach((item) =>{ %>
      <form action="/delete" method="post" >
       <div class="item">
           <input type="checkbox" onclick="this.form.submit()" >
           <p> <%= item.name %> </p>
        </div>
      </form>   
     <% }) %>
   
    <form method="post" action="/" class="item">
      <input
        type="text"
        name="form_input"
        alt="input data"
        placeholder="Enter Your Todoss"
        autocomplete="off"
      />
      <button type="submit" name="input_btn" value=<%= listVal %>>+</button>
    </form>
    </div>
 <%- include("footer"); -%>
</html>
